@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Edu+VIC+WA+NT+Beginner:wght@700&family=New+Amsterdam&family=Playwrite+DE+Grund&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    display: flex;
    background-image: url(./img/pexels-stywo-1261728.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
  
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    width: 1100px;
    height: 700px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: #000000 4px 4px 20px;
}

.containerForm {
    position: absolute;
    background-image: url(./img/pexels-padrinan-19670.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    background-color: rgba(255,255,255,0.8);
    padding: 0 150px;
    margin-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30%;
    height: 100%;
    width: 500px;
    align-items: center;
}

form {
    display: inline;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
  }

button{
    text-transform: uppercase;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(0, 255, 242, 0.2);
    border: none;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:10px;
    letter-spacing: 1px;
    font-weight: lighter;
  }

button:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
  }

input {
    width: 200px;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(44, 44, 44);
    margin-bottom: 10px;
    padding-bottom: 2px;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
    font-size: 17px;
    font-weight: lighter;
    color: rgb(80, 80, 80);
}
label {
    font-size: 20px;
    letter-spacing: 1px;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

table {
    display: inline-block;
    margin: auto;
    max-height: 400px;
    overflow: auto;
}

th {
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.container-aside {
    z-index: 1;
    margin-left: 600px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.6);
    width: 400px;
    height: 600px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
}

.h1list {
    text-decoration: underline 2px;
}