* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    background-image: url(./img/pexels-stywo-1261728.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    width: 900px;
    height: 700px;
    padding: 20px;
    border-radius: 20px;
}
form {
    display: inline-block;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
  }
button{
    display: block;
  }
